.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.formDiv {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
}

.dataDiv {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}
